:root {
  --side-bar: #343a40;
  --app-bg: #212529;
  --divider-bg: #06f;

  --theme-fg-hv: #ced4da;
  --side-bar-hv: #5d6166;

  --btn-bg: #e63946;
  --project-bg: #3f474f;

  --tab-bg: #5e6a75;
  --tab-bg-hv: #353b41;
  --tab-bg-active: #0466c8;

  --project-bg: #1e1e1e;
  --project-name-bg: #2c2c2c;
  --project-name-b: #3c3c3c;

  --btn-save-bg: #2d6a4f;
  --btn-save-bg-hv: #37735b;
  --btn-delete-bg: #d90429;
  --btn-delete-bg-hv: #c10326;
}

body {
  display: grid;
  width: 100dvw;
  height: 100dvh;
  grid-template-columns: auto 1fr;
  grid-template-rows: 100%;
  overflow: hidden;
}


.sidebar {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 4rem;
  max-width: 10rem;
  border-right: 0.1rem solid transparent;
  background-color: var(--side-bar);
  color: white;
  padding: 1rem;
  transition: 0.3s ease;
  overflow: hidden;
  justify-content: space-between;
}

.sidebar.open {
  width: 10rem;
}

.sidebar .button {
  background-color: transparent;
  border-color: transparent;
  cursor: pointer;
}

.icon {
  color: white;
}

.icon:hover {
  color: var(--theme-fg-hv);
}

.app {
  display: flex;
  flex-direction: column;
  background-color: var(--app-bg);
  color: white;
  gap: 1rem;
}

.menu {
  padding-block: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  list-style: none;
}

.menu-item {
  display: flex;
  gap: 0.5rem;
  /* justify-content: center;  */
  align-items: center;
  overflow: hidden;
  padding-block: 0.5rem;
}

.menu-link {
  color: white;
  text-decoration: none;
}

.user {
  opacity: 0;
  display: flex;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.user .avatar {
  width: 48px;
  height: 48px;
  border-radius: 50%;
}

.sidebar.open>.user {
  opacity: 1;
}

.create {
  display: flex;
  gap: 0.5rem;
}

.button-link {
  all: unset;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--btn-bg);
  height: 3rem;
  padding-inline: 1rem;
  border-radius: 0.2rem;
  color: white;
  text-decoration: none;
  border-color: transparent;
  cursor: pointer;
}

.projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; 
  /* align-items: center; */
  overflow-y: scroll;
  scrollbar-width: thin;
  scrollbar-color: #000000 #404040;
  gap: 0.5rem;
  padding: 1rem;
}

.projects::-webkit-scrollbar {
  width: 1rem;
}

.projects::-webkit-scrollbar-track {
  background: #404040;
}

.projects::-webkit-scrollbar-thumb {
  background-color: #000000;
  border-radius: 10px;
  border: 0px solid #ffffff;
}

.project {
  /* width: 100%; */
  background-color: var(--project-bg);
  border-radius: 0.5rem;
  padding: 1rem;
}

.project .project-form {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}


.project .project-name {
  border-radius: 0.2rem;
  color: white;
  padding: 0.5rem;
  border: 0.1rem solid transparent;
  background-color: transparent;
}

.project .project-name:hover,
.project-name:focus {
  background-color: var(--project-name-bg);
  border-color: var(--project-name-b)
}

.project-form .form-actions {
  display: flex;
  justify-content: space-between; 
}

.form-actions .btn {
  border: 0.1rem solid transparent;
  border-radius: 0.2rem;
  padding: 0.5rem 1rem;
  cursor: pointer;
  font-weight: bold;
  color: white;
}

.btn.save {
  background-color: var(--btn-save-bg);
}

.btn.save:hover {
  background-color: var(--btn-save-bg-hv);
}

.btn.delete {
  background-color: var(--btn-delete-bg);
}

.btn.delete:hover {
  background-color: var(--btn-delete-bg-hv);
}


/* .project {
  display: flex;
  padding: 1rem;
  gap: 1rem;
  background-color: var(--project-bg);
}

.project .action {
  display: flex;
  gap: 0.2rem;
} */

#form-container .form {
  all: unset;
  display: flex;
  flex-direction: column;
  /* background-color: blue; */
  padding: 1rem;
  gap: 0.5rem;
}

.input {
  background-color: var(--project-bg);
  color: white;
  /* width: 20%; */
}

.button {
  margin: unset;
  /* width: 10%; */
}

.tab-component {
  display: flex;
  flex-direction: column;
  /* gap: 0.5rem; */
}

.tab-container {
  display: flex;
}

.tab-button {
  height: 2.5rem;
  padding-inline: 1rem;
  border: 0.1rem solid transparent;
  background-color: var(--tab-bg);
  color: white;
  transition: 0.5s all;
  cursor: pointer;
}

.tab-button:hover {
  background-color: var(--tab-bg-hv);
}

.tab-button.active {
  background-color: var(--tab-bg-active);
}

.closeable {
  cursor: pointer;
}

.tab-content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.tab-content .form {
  display: none;
  padding: 0.5rem;
  background-color: var(--tab-bg);
  border-radius: 0;
  transition: 0.5s all;
}

.tab-content .form.visible {
  display: flex;
}

/* media querries */
@media screen and (min-width: 1200px) {
  .button {
    width: 10%;
  }

  .input {
    width: 20%;
  }
}

@media screen and (max-width: 768px) {
  .project {
    width: 100%;
  }
}

.select {
  width: 100%;
  padding: 0.5em 1em 0.5em 0.5em;
  border: 1px solid #555;
  border-radius: 0.25em;
  background-color: #222;
  font-size: 1em;
  color: #fff;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  cursor: pointer;
  background-image: url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTAiIGhlaWdodD0iNiIgdmlld0JveD0iMCAwIDEwIDYiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHBhdGggZD0iTTUuNzAzMTIgNS42MjVMMTAgMS4zMzEyNUgxeiIgZmlsbD0iI2ZmZmZmZiIvPjwvc3ZnPg==');
  background-repeat: no-repeat;
  background-position: right 0.5em center;
  background-size: 10px;
}

.option {
  padding: 0.5em 1em;
  font-size: 1em;
}