:root {
  --side-bar: #343a40;
  --app-bg: #212529;
  --divider-bg: #06f;

  --theme-fg-hv: #ced4da;
  --side-bar-hv: #5d6166;

  --btn-bg: #e63946;
  --project-bg: #3f474f;
}

body {
  display: grid;
  width: 100dvw;
  height: 100dvh;
  grid-template-columns: auto 1fr;
  grid-template-rows: 100%;
  overflow: hidden;
}


.sidebar {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 4rem;
  max-width: 10rem;
  border-right: 0.1rem solid transparent;
  background-color: var(--side-bar);
  color: white;
  padding: 1rem;
  transition: 0.3s ease;
  overflow: hidden;
  justify-content: space-between;
}

.sidebar.open {
  width: 10rem;
}

.sidebar .button {
  background-color: transparent;
  border-color: transparent;
  cursor: pointer;
}

.icon {
  color: white;
}

.icon:hover {
  color: var(--theme-fg-hv);
}

.app {
  display: flex;
  flex-direction: column;
  background-color: var(--app-bg);
  color: white;
  gap: 1rem;
}

.menu {
  padding-block: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  list-style: none;
}

.menu-item {
  display: flex;
  gap: 0.5rem;
  /* justify-content: center;  */
  align-items: center;
  overflow: hidden;
  padding-block: 0.5rem;
}

.menu-link {
  color: white;
  text-decoration: none;
}

.user {
  opacity: 0;
  display: flex;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.user .avatar {
  width: 48px;
  height: 48px;
  border-radius: 50%;
}

.sidebar.open>.user {
  opacity: 1;
}

.create {
  display: flex;
  gap: 0.5rem;
}

.button-link {
  all: unset;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--btn-bg);
  height: 3rem;
  padding-inline: 1rem;
  border-radius: 0.2rem;
  color: white;
  text-decoration: none;
  border-color: transparent;
  cursor: pointer;
}

.projects {
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  scrollbar-width: thin;
  scrollbar-color: #000000 #404040;
  gap: 0.5rem;
  padding: 1rem;
}

.projects::-webkit-scrollbar {
  width: 1rem;
}

.projects::-webkit-scrollbar-track {
  background: #404040;
}

.projects::-webkit-scrollbar-thumb {
  background-color: #000000;
  border-radius: 10px;
  border: 0px solid #ffffff;
}

.project {
  display: flex;
  padding: 1rem;
  gap: 1rem;
  background-color: var(--project-bg);
}

.project .action {
  display: flex;
  gap: 0.2rem;
}

#form-container .form {
  all: unset;
  display: flex;
  flex-direction: column;
  /* background-color: blue; */
  padding: 1rem;
  gap: 0.5rem;
}

.input {
  background-color: var(--project-bg);
  color: white;
  width: 20%;
}

.button {
  margin: unset;
  width: 10%;
}

