.container {
  display: flex;
}

.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4rem;
}


.button-group {
  display: flex;
  gap: 0.5rem;
}

.button {
  background-color: var(--button-bg);
  padding: 0.5rem;
  color: white;
  text-decoration: none;
  border: 0.1rem solid transparent;
  border-radius: 0.2rem;
}

.button:hover {
  background-color: var(--button-bg-hv);
}

.title {
  font-size: 3.5rem;
  font-weight: bold;
}

.subtitle {
  font-size: 2.5rem;
  font-weight: bold;
}

.paragraph {
  margin-top: 1rem;
  font-size: 1.5rem;
}